<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Ajout article</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-4 col-xs-8">
				<div class="panel panel-primary">
					<div class="panel-heading">Enter New Article</div>
					<div class="panel-body">
						<form th:action="@{/save}" method="POST">
							<div class="form-group">
								<label class="control-label">Brand</label> <input
									class="form-control" type="text" name="brand"
									th:value="${article.brand}"> <span
									th:errors="${article.brand}"></span>

							</div>
							<div class="form-group">
								<label class="control-label">Description</label> <input
									class="form-control" type="text" name="description"
									th:value="${article.description}"> <span
									th:errors="${article.description}"></span>

							</div>
							<div class=" form-group">
								<label class="control-label">Price</label> <input
									class="form-control" type="text" name="price"
									th:value="${article.price}"> <span
									th:errors="${article.price}"></span>

							</div>
						<div class="from-group">
								<label class="control-label">Category</label> <select
									class="form-control" name="category"
									th:value="${article.category}">
									<option th:each="c:${listCategory}" th:text="${c.name}"
										th:value="${c.id}"></option>
								</select>
							</div>


						
							<div class="form-group">
								<label class="control-label">Picture</label> <select
									class="form-control" name="image" th:value="${article.image}">
									<option th:each="a:${listArticle}" th:text="${a.image}" th:value="${a.image}">
									</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>



</body>
</html>