<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Authentification</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{css/styles.css}">
</head>

<body class="body bg-image"
	style="background-image: url('https://wallpaperaccess.com/full/2677220.jpg'); background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover;">
	<div class="container" id="loginPage">

		<div class="cube" style="padding: 50px;">
			<div>
				<ul id="btnHome" class="nav navbar-nav"
					style="background-color: blue;">
					<li class="active"><a th:href="@{/index}"
						style="color: white;">HomePage</a></li>
				</ul>
			</div>
		</div>
		<div class=" cube" style="padding: 50px;">
			<div class="panel panel-primary">
				<div class="panel-heading">Authentification</div>
				<div class="panel-body">



					<form th:action="@{/login}"  method="post">
						<div>
							<label>Username </label> <input type="text" name="username" />
						</div>
						<div>
							<label>Password </label> <input type="password" name="password" />
						</div>

						<button class="btn btn-primary" type="submit" >Login</button>
					</form>

				</div>
			</div>
		</div>


	</div>

</body>

</html>